.image_description{
    border-width: 100px;
    border-color: brown;
}
.style_type{
    list-style-type: none;
}
.border_image{
    border-radius: 30px;
    height: 150px;
    width: 200px;
    
    
}
.background_colour_image{
    background-color: rgb(255, 255, 255);
    border-style:solid;
    height: 200px;
    width: 240px;
    border-radius: 30px;
    padding: 18px;    
    
    
}

.first_name{
    text-align: center;
    font-size: 30px;
    font-style: normal;
    margin-bottom: 10px;
}

#searchbar{
    margin-left: 44%;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 20px;
}